<footer>
  <div class="footer px-5">
    <div class="footer__main d-flex py-5">
      <div class="footer__main-brand d-flex flex-column">
        <div class="logo mb-3">
          <h1><i class="fa-solid fa-forward"></i>Acme Inc.</h1>
        </div>
        <div class="desc">
          <p>At Acme Inc., we are committed to developing efficient and user-friendly solutions for managing your team.</p>
        </div>
      </div>
      <div class="footer__main-links d-flex align-items-center">
        <div class="about">
          <a routerLink="/"><h6>Home</h6></a>
          <a><h6>About Us</h6></a>
          <a><h6>Blog</h6></a>
        </div>
        <div class="contact">
          <a><h6>Contact Us</h6></a>
          <a><h6>FAQ</h6></a>
          <a><h6>Delivery</h6></a>
        </div>
      </div>
    </div>
    <div class="footer__sub d-flex pb-4 justify-content-between">
      <div class="copyright">
        <p>&copy; 2024 Acme Inc. &vert; All rights reserved.</p>
      </div>
      <div class="socials d-flex flex-row">
        <div class="x">
          <a><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div class="instagram">
          <a><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="linkedin">
          <a><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="privacy d-flex flex-row">
        <a><p>Privacy Policy</p></a>
        <a><p>Terms & Conditions</p></a>
      </div>
    </div>
  </div>
</footer>
